{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="form-container">
        <img src="{{ STATIC_URL }}hi.jpg" alt="Logo" width="531" height="132">
        <br>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <textarea id="freeform" name="freeform" rows="20" cols="70" placeholder="Type your notes here..."></textarea>
            <br><br>
            <button class="button-57" role="button" type="submit"><span class="text">Generate Rap</span><span>Generate Rap</span></button>
        </form>
    </div>
</body>
</html>