{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McRap</title> 
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <div style="background-color:black;">
        <img src="{% static 'mcraplogo.png' %}" alt="Logo" height="75">
    </div>
    <br>
    <div style="background-color:#92221C;padding:20px;">
        <h1> Your Song </h1>
        {% for verse in inital_song %}
            <div>{{ verse }}</div>
        {% endfor %}
        <audio id="myAudio">
            <source src="{% static 'version2.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <button onclick="playAudio()" class="button-57" role="button"><span class="text">Play</span></button>
    </div>
    <div style="background-color:#92221C;padding:20px;">
        <h1> Sing Along </h1>
        <div id="line"></div>
    </div>
    <br>

    <script>
        // Manually parse the JSON-encoded rap_song data from Django
        const rapList = {{ rap_song|safe }};

        function playAudio() {
            var audio = document.getElementById("myAudio");
            audio.loop = true;
            audio.play();
            displayLines();
        }

        function displayLines(){
            rapList.forEach((line, index) => {
                setTimeout(() => { display(line); }, 3000 * index);
            });
        }

        function display(str){
            var msg = new SpeechSynthesisUtterance();
            msg.text = str;
            window.speechSynthesis.speak(msg);
            document.getElementById("line").innerHTML += str + "<br>";
        }
    </script>
</body>
</html>
